<div id="sidebar-wrapper" [ngClass]="{ 'collapsed' : isMenuCollapsed }">

  <ul class="sidebar-nav" [ngClass]="{ 'collapsed' : isMenuCollapsed }">
    <li class="sidebar-brand">
      <a href="#">Controls</a>
    </li>
    <li *ngFor="let control of controls | async" dnd-draggable [dragData]="{ control: control, controlProperties: controlProperties }">
      <a href="#">{{ control.$key }}</a>
    </li>
  </ul>
</div>
<div class="menu-launcher" (click)="toggleMenu()" [ngClass]="{ 'collapsed' : isMenuCollapsed }">
  <i class="fa fa-bars" aria-hidden="true"></i>
</div>