.main-container {
    padding: 20px 10px;
    min-height: calc(~'100vh - 45px');    
    display: flex;
    margin: 0 15px;
    flex-direction: column;
}

.dnd-drag-over{
    border: lightblue dashed 2px;
}

.menu-launcher{
    padding: 10px 0;
    cursor: pointer;
    width: 40px;
    margin: 0 15px;
}

.main-container > div {
    flex-grow: 1;
}